.sidebar {
  float: left
}

.theband {
  float: right;
  width: 600px;
}

.images {
  float: right;
  padding: 20px;
}

.images li {
  list-style-type: none;
}

body {
  font-family: monospace;
}

img {
  width: 600px;
  height: auto;
  margin: 10px;
}
